# ----------------------------------------
# Server Configuration
# ----------------------------------------
server:
  port: 8081

# ----------------------------------------
# Spring Data MongoDB Configuration
# ----------------------------------------
spring:
  data:
    mongodb:
      uri: mongodb+srv://username:password@cluster.mongodb.net/database?appName=AppName

# ----------------------------------------
# JWT (JSON Web Token) Configuration
# ----------------------------------------
rideshare:
  app:
    jwtSecret: YOUR_JWT_SECRET_KEY_HERE_MIN_64_CHARACTERS
    jwtExpirationMs: 86400000

